<a href="https://colab.research.google.com/github/Pramitreddy17/ML/blob/main/ML%20prac%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
inmput = '/content/Sales1.csv'
df = pd.read_csv(inmput)
print(df.head())

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  24-11-2023     CUST001    Male   34           Beauty
1               2  27-02-2023     CUST002  Female   26         Clothing
2               3  13-01-2023     CUST003    Male   50      Electronics
3               4  21-05-2023     CUST004    Male   37         Clothing
4               5  06-05-2023     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100

In [16]:
Sales1 = df.copy()

Sales1['Sales_Tax'] = Sales1['Total Amount'] * 0.10

print(Sales1.head())

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  24-11-2023     CUST001    Male   34           Beauty
1               2  27-02-2023     CUST002  Female   26         Clothing
2               3  13-01-2023     CUST003    Male   50      Electronics
3               4  21-05-2023     CUST004    Male   37         Clothing
4               5  06-05-2023     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount  Sales_Tax
0         3              50           150       15.0
1         2             500          1000      100.0
2         1              30            30        3.0
3         1             500           500       50.0
4         2              50           100       10.0

In [19]:
Sales1.to_csv(input, index=False)
Sales1.to_csv(input, mode='a', header=False, index=False)

In [21]:
print("Updated file store in {sales_final}")

final_file = '/content/sales_final.csv'
Sales1.to_csv(final_file, index = False)
Sales1.head()

Updated file store in {sales_final}

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Sales_Tax
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150,15.0
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000,100.0
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30,3.0
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500,50.0
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100,10.0